{
  margin: 0;
  padding: 0;
}

body {
  background: #ddd;
}

canvas#snake {
  background: orange;
  box-shadow: 2px 2px 0px #000;
  left: 640px;
  top: 50px;
  position: absolute;
  margin-left: -320px;
}

div#game-over {
  width: 640px;
  margin: 0 auto;
  align-content: center;
  font-family: Trebuchet MS, sans-serif;
  color: #333;
}
