* {
    margin: 0;
    padding: 0;
}

form {
    font-family: sans-serif;
    width: 500px;
    margin: 50px auto 0 auto;
    color: #333;
}

form fieldset {
    padding: 10px;
}

form fieldset legend {
    padding: 0 10px;
}

form fieldset label {
    display: block;
    padding: 5px 0;
}

form fieldset input, form fieldset select {
    width: 98%;
    height: 35px;
    padding: 0 1%;
    font-size: 16px;
    color: #333;
}

form fieldset select, form fieldset input[type="submit"] {
    width: 101%;
}

form fieldset input[type="submit"] {
    margin-top: 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 40px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

form fieldset input[type="submit"]:hover {
    background: #f90;
    color: #333;
    font-weight: bold;
    -webkit-box-shadow: 0 0 4px #333;
    -moz-box-shadow: 0 0 4px #333;
    -ms-box-shadow: 0 0 4px #333;
    -o-box-shadow: 0 0 4px #333;
    box-shadow: 0 0 4px #333;
}