* {
    margin: 0;
    padding: 0;
}

form, div#resultado {
    font-family: sans-serif;
    width: 500px;
    margin: 50px auto 0 auto;
    color: #333;
}

form label {
    display: block;
    padding: 5px 0;
}

form input {
    width: 98%;
    height: 35px;
    padding: 0 1%;
    font-size: 16px;
    color: #333;
}

form input[type="submit"] {
    width: 101%;
}